<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  {%load static%}
  <title>Home Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../static/BuyandSell/style.css">
</head>

<body>

	<div class="block-container">
		<div class = 'my-header'>
		NIT Warangal Project Hub
		</div>
 	</div> 
 	

	<!-- <div class = "container">
		<form  action ="{% url 'BuyandSell: search'  data % }" role="search"  enctype="multipart/form-data">
			{% csrf_token %}
			<div class = "form-group">
				<label for="search_box" class = "label_class_1">Search</label>
				<input type="search_input" name= "data" class = "form-control" id="search_box" placeholder="Search">
				<button type="search" class = "btn btn-default">Search</button>
			</div>
		</form>
	</div>
 -->	
 	{% for i in items %}
	<div class = "container">
			<div class = "item_temp">
				<div class = "item_image">
					<img src = "{{ i.image.url }}" style="border: solid 1px black;"/>
				</div>
				<h1>Project Title: {{i.item_name}}</h1>
				<p>Project Group Leader: {{i.item_id}}</p>
				  <p>Guide : {{i.price}}</p>
				  <p>Description : {{i.description}}</p>
				  <p> <a href="{{ i.report.url }}" target="_blank" class="btn btn-primary">Download The Report </a>
				  </p>
			
			</div>
	</div>
	{%endfor%}

	<div class = "page-footer">
	</div>

	<div class="foot-div"></div>

</body>

</html>